/* add your CSS here */
body{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(163, 74, 14);
}
div, img{
    border: rgb(138, 138, 138) solid 1px;
}
.card{
    padding: 0 10px 10px 10px;
    max-width: 300px;
    background:  rgb(238, 203, 158);
}
.card div{
    color: antiquewhite;
    background-color: rgb(163, 74, 14);
}
/*Sobra do box*/
.sombra{
    -webkit-box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 7px 7px 2px 0px rgba(0,0,0,0.2);
}
.title{
    padding: 0 0 5px 0;
    margin: 15px 0;
    font-size: 25px;
}
.image{
    max-width: 298px;
    margin: 0 0 10px 0;
}
.infor{
    font-style: italic;
}
.list-feature{
    list-style-type: none;
    padding: 0;
}
.feature{
    font-weight: bold;
}